<ion-header>
  <ion-toolbar>
    <ion-title>Calculadora</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row justify-content-center>
      <ion-col size="12">
        <ion-input [(ngModel)]="actual" readonly></ion-input>
      </ion-col>
    </ion-row>
    <ion-row justify-content-center>
      <ion-col size="2" *ngFor="let button of buttons.slice(0, 4)">
        <ion-button expand="full" (click)="buttonClicked(button)">{{ button }}</ion-button>
      </ion-col>
    </ion-row>
    <ion-row justify-content-center>
      <ion-col size="2" *ngFor="let button of buttons.slice(4, 8)">
        <ion-button expand="full" (click)="buttonClicked(button)">{{ button }}</ion-button>
      </ion-col>
    </ion-row>
    <ion-row justify-content-center>
      <ion-col size="2" *ngFor="let button of buttons.slice(8, 12)">
        <ion-button expand="full" (click)="buttonClicked(button)">{{ button }}</ion-button>
      </ion-col>
    </ion-row>
    <ion-row justify-content-center>
      <ion-col size="2" *ngFor="let button of buttons.slice(12, 16)">
        <ion-button expand="full" (click)="buttonClicked(button)">{{ button }}</ion-button>
      </ion-col>
    </ion-row>
    <ion-row justify-content-center>
      <ion-col size="2" *ngFor="let button of buttons.slice(16, 17)">
        <ion-button expand="full" (click)="buttonClicked(button)">{{ button }}</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>