<ion-header>
  <ion-toolbar>
    <ion-title>Foto y Github</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <form id="new-form">
    <ion-item id="new-input2" style="height: 260px;">
      <ion-label stacked>
        Fecha inicial
      </ion-label>
      <ion-datetime displayFormat="DD/MM/YYYY" placeholder="" name="fechaini" [(ngModel)]="fechaini"></ion-datetime>
    </ion-item>
    <ion-item id="new-input3" style="height: 260px;">
      <ion-label stacked>
        Fecha final
      </ion-label>
      <ion-datetime displayFormat="DD/MM/YYYY" placeholder="" name="fechafin" [(ngModel)]="fechafin"></ion-datetime>
    </ion-item>                
  </form>
  <ion-button expand="block" color="dark" (click)="calcular()">
    Calcular
  </ion-button>
  <ion-item *ngIf="dias !== null">
    <ion-label>
      La difercia de dias es: {{ dias }}
    </ion-label>
  </ion-item> -->
</ion-content>