<ion-header>
  <ion-toolbar>
    <ion-title>Foto y Github</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title style="text-align: center;">Repositorio de GitHub</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <div style="text-align: center;">
        <img src="assets/FotoCurriculum.jpg" alt="Foto Alejandro Campoverde" style=" width: 150px; height: 150px;">
      </div>
      <p style="text-align: center;">
        <a href="https://github.com/A2lejo/PruebaPBMoviles.git" target="_blank"
          style="display: inline-flex; align-items: center; text-decoration: none;">
          <ion-icon aria-hidden="true" name="logo-github" style="height: 25px; width: 25px; padding: 10px;"></ion-icon>
          <span>Repositorio en GitHub</span>
        </a>
      </p>
    </ion-card-content>
  </ion-card>
</ion-content>